<?xml version="1.0"?>
<config>
    <modules>
        <Frenet_Shipping>
            <version>1.1.3</version>
        </Frenet_Shipping>
    </modules>
    <global>
        <models>
            <frenet_shipping>
                <class>Frenet_Shipping_Model</class>
                <resourceModel>frenet_shipping_resource</resourceModel>
            </frenet_shipping>
            <frenet_shipping_resource>
                <class>Frenet_Shipping_Model_Resource</class>
            </frenet_shipping_resource>
        </models>
        <resources>
            <frenet_shipping_setup>
                <setup>
                    <module>Frenet_Shipping</module>
                    <class>Frenet_Shipping_Model_Resource_Setup</class>
                </setup>
            </frenet_shipping_setup>
        </resources>
        <blocks>
            <frenet_shipping>
                <class>Frenet_Shipping_Block</class>
            </frenet_shipping>
        </blocks>
        <helpers>
            <frenet_shipping>
                <class>Frenet_Shipping_Helper</class>
            </frenet_shipping>
        </helpers>
        <cache>
            <types>
                <frenet_result translate="label,description" module="frenet_shipping">
                    <label>Frenet Result</label>
                    <description>Improve the performance to Frenet API call by caching the results when possible.</description>
                    <tags>FRENET_RESULT</tags>
                </frenet_result>
            </types>
        </cache>
    </global>
    <frontend>
        <translate>
            <modules>
                <frenet_shipping>
                    <files>
                        <default>Frenet/Shipping.csv</default>
                    </files>
                </frenet_shipping>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <frenet_shipping>
                    <files>
                        <default>Frenet/Shipping.csv</default>
                    </files>
                </frenet_shipping>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <carriers>
            <frenetshipping>
                <model>Frenet_Shipping_Model_Carrier_Frenet</model>
                <name>frenet</name>
                <active>0</active>
                <title>Frenet Shipping Gateway</title>
                <token/>
                <use_default>1</use_default>
                <weight_type>kg</weight_type>
                <show_delivery>1</show_delivery>
                <msgprazo>%s - Em média %d dia(s)</msgprazo>
                <multi_quote>0</multi_quote>
                <add_delivery_days>0</add_delivery_days>
                <showmethod>0</showmethod>
                <specificcountry>BR</specificcountry>
                <sort_order>10</sort_order>
                <specificerrmsg>Frenet shipping method is not available.</specificerrmsg>
                <sallowspecific>0</sallowspecific>
                <show_shipping_forecast>0</show_shipping_forecast>
                <shipping_forecast_message>{{d}} dia(s)</shipping_forecast_message>

                <!-- ATTRIBUTES MAPPING -->
                <attributes_mapping_weight>weight</attributes_mapping_weight>
                <attributes_mapping_height>volume_height</attributes_mapping_height>
                <attributes_mapping_length>volume_length</attributes_mapping_length>
                <attributes_mapping_width>volume_width</attributes_mapping_width>

                <!-- ADDITIONAL LEAD TIME -->
                <additional_lead_time>0</additional_lead_time>

                <!-- DEFAULT MEASUREMENTS -->
                <default_measurements_default_weight>1</default_measurements_default_weight>
                <default_measurements_default_height>2</default_measurements_default_height>
                <default_measurements_default_length>16</default_measurements_default_length>
                <default_measurements_default_width>11</default_measurements_default_width>

                <!-- DEBUG -->
                <debug>0</debug>
                <debug_filename>frenet_request_debug.log</debug_filename>

                <!-- OTHER OPTIONS -->
                <sort_order>90</sort_order>
            </frenetshipping>
        </carriers>
    </default>
</config>
